@model IEnumerable<StoreManagement.Model.Product>
@using StoreManagement.Common;
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form data-ajax="true" method="post" data-ajax-update="products-table" data-ajax-method="POST">
    <p>
        Supplier name: <input type="text" name="filter" id="filter" />
        <input type="button" value="Filter" onclick="ajaxQuery();" />
    </p>
</form>
@section Scripts {
    <script type="text/javascript">
        function ajaxQuery() {
            console.log("entered method");
            var filterValue = $("#filter").val();
            console.log(filterValue);
            $.ajax({
                type: "POST",
                url: "/products/FilterProductsAjax",
                data: { filter: filterValue },
                error: function (xhr, status, errorThrown) {
                    var err = "Status " + status + " " + errorThrown;
                    console.log(err);
                }
            }).done(function (data) {
                jQuery("#products-table").html(data);
                console.log(data);
            })

        }
    </script>
}
<div id="products-table">
    @{Html.RenderPartial("PartialViewList", Model);}
</div>