@model IEnumerable<StoreManagement.Model.Customer>

@{
    ViewData["Title"] = "CustomersAddress";
}

<h2>Customers Address</h2>
<form data-ajax="true" method="post" data-ajax-update="customers-table" data-ajax-method="POST">
    <p>
        Address : <input type="text" name="filter" id="filter" />
        <input type="button" value="Filter" onclick="ajaxCustomerQuery();" />
    </p>
</form>

@section Scripts {
    <script type="text/javascript">
        function ajaxCustomerQuery() {
            console.log("entered method");
            var filterValue = $("#filter").val();
            console.log(filterValue);
            $.ajax({
                type: "POST",
                url: "/reports/FilterCustomersAjax",
                data: { filter: filterValue },
                error: function (xhr, status, errorThrown) {
                    var err = "Status " + status + " " + errorThrown;
                    console.log(err);
                }
            }).done(function (data) {
                jQuery("#customers-table").html(data);
                console.log(data);
            })

        }
    </script>
}
<div id="customers-table">
    @{Html.RenderPartial("AddressCustomerPartial", Model);}
</div>

