
@{
    ViewData["Title"] = "Index";
}

<h2>Reports</h2>
<ul>
    <li><a asp-area="" asp-controller="Reports" asp-action="ProductsBySupplier">List of Products by Supplier</a></li>
    <li><a asp-area="" asp-controller="Reports" asp-action="CustomersByLastname">List of Customers</a></li>
    <li><a asp-area="" asp-controller="Reports" asp-action="UsersCustomers">List of Users and Customers with same name and lastname</a></li>
    <li><a asp-area="" asp-controller="Reports" asp-action="CustomersAddress">List of Customers with Address</a></li>
    <li><a asp-area="" asp-controller="Reports" asp-action="Operations">List of Operations</a></li>
</ul>

